In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("../data/raw/BTC-USD.csv")
columns = df.columns.values
columns

array(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
      dtype=object)

In [12]:
dev_data = np.load("../data/interim/dev_data.npy", allow_pickle=True)

In [16]:
dev_df = pd.DataFrame(dev_data, columns=columns)

In [17]:
dev_df

           Date     Open     High      Low    Close Adj Close       Volume
0    2016-10-27  678.214  688.594   678.04  688.313   688.313  9.61053e+07
1    2016-07-07   678.09  682.432  611.834  640.562   640.562  2.58091e+08
2    2018-08-28  6891.08  7109.56  6882.34  7096.28   7096.28  4.65994e+09
3    2018-12-31  3866.84  3868.74  3725.87   3742.7    3742.7  4.66184e+09
4    2017-08-17  4384.44   4484.7  4243.71  4331.69   4331.69  2.55336e+09
..          ...      ...      ...      ...      ...       ...          ...
177  2015-10-13    245.2  250.236  243.757  249.508   249.508  2.81985e+07
178  2018-09-03  7279.03  7317.94  7208.15  7260.06   7260.06  4.08776e+09
179  2020-08-27  11485.6  11570.8  11185.9  11323.4   11323.4  2.32404e+10
180  2017-03-26  974.015  1007.96  954.186  966.725   966.725  3.03668e+08
181  2017-07-16  1991.98  2058.77  1843.03  1929.82   1929.82  1.18287e+09

[182 rows x 7 columns]