In [1]:
import pandas as pd
import numpy as np
from time import time
from sklearn.pipeline import Pipeline
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error,r2_score
# from sklearn import preprocessing
# from sklearn.tree import DecisionTreeRegressor
# from pprint import pprint
# from sklearn.model_selection import GridSearchCV
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import KFold
# from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv("../data/raw/BTC-USD.csv")
columns = df.columns.values
columns

# scaler = MinMaxScaler

array(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
      dtype=object)

In [3]:
train_data = np.load("../data/interim/train_data.npy", allow_pickle=True)

In [4]:
train_data = pd.DataFrame(train_data, columns=columns)
train_data

           Date     Open     High      Low    Close Adj Close       Volume
0    2015-09-27  234.139  234.526  232.476  232.757   232.757  1.41799e+07
1    2015-09-28  232.836  239.339  232.467  239.142   239.142   2.4713e+07
2    2015-09-29  239.016  239.802  235.928  236.687   236.687  2.26913e+07
3    2015-09-30   236.64  237.734  235.629   236.06    236.06  1.97435e+07
4    2015-10-01  236.004  238.445  235.616  237.549   237.549  2.04888e+07
...         ...      ...      ...      ...      ...       ...          ...
1273 2019-03-23  4022.71  4049.88  4015.96  4035.83   4035.83  9.57885e+09
1274 2019-03-24  4035.16   4040.7  4006.19  4022.17   4022.17  9.14485e+09
1275 2019-03-25  4024.11  4038.84  3934.03  3963.07   3963.07  1.03598e+10
1276 2019-03-26  3969.23  3985.08  3944.75  3985.08   3985.08  1.07077e+10
1277 2019-03-27  3984.24  4087.07  3977.81  4087.07   4087.07  1.08971e+10

[1278 rows x 7 columns]